  <header class="z-[999] h-24 relative top-0 left-0 w-full px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64">
    <a href="/" alt="Homepage">
      <img class="h-full object-contain" src="/images/logo-rotary-club-colleferro.jpg" alt="Logo Rotary Club Colleferro"/>
  </a>
  </header
